.card {
  text-align: center;
  padding: 1.5em;
  overflow: hidden;
}

.card_img {
  height: 120px;
  width: auto;
}
.heading {
  margin: 0.5em 0.5em;
  font-variant-caps: all-petite-caps;
}
.information {
  font-size: 13.5px;
}
.btn {
  background-color: #f9c747;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
}
