.hr {
  height: 1px;
  color: rgb(228, 226, 226);
  background-color: rgb(228, 226, 226);
  width: 80vw;
}
.heading {
  color: #1f1f1f;
}
.btn {
  background-color: #f9c747;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
}
.info_part {
  margin: 1em 5em;
  display: flex;
}
.sub_heading {
  font-variant-caps: all-petite-caps;
  color: grey;
}
.left_part {
  margin: 1em 3em;
  width: 75%;
}
.right_part {
  margin: 1em 1em;
}
.feed_part {
  margin: 2em auto;
}
.bg_image {
  margin: 1em auto auto auto;
}
.paragraph {
  margin: 1em auto 2em auto;
}
